openapi: 3.0.3
info:
  title: API.Rasp.Yandex.Net
  description: API Яндекс.Расписаний
  version: 3.0.0
servers:
- url: https://api.rasp.yandex.net
paths:
  /v3.0/search/:
    get:
      tags:
      - searchRoutes
      summary: Расписание рейсов между станциями
      operationId: searchRoutes
      parameters:
      - name: apikey
        in: query
        description: Ключ доступа к API.
        required: true
        schema:
          type: string
      - name: from
        in: query
        description: Код станции отправления. Должен быть указан в системе кодирования.
        required: true
        schema:
          type: string
      - name: to
        in: query
        description: Код станции прибытия. Должен быть указан в системе кодирования.
        required: true
        schema:
          type: string
      - name: format
        in: query
        description: Формат ответа. Поддерживаемые значения json (по умолчанию) и xml.
        required: false
        schema:
          type: string
          enum:
            - xml
            - json
          default: json
      - name: lang
        in: query
        description: Язык возвращаемой информации, в формате <код языка>_<код страны>.
        required: false
        schema:
          type: string
      - name: date
        in: query
        description: Дата, на которую необходимо получить список рейсов.
        required: false
        schema:
          type: string
      - name: transport_types
        in: query
        description: Тип транспортного средства.
        required: false
        schema:
          type: string
      - name: system
        in: query
        description: Система кодирования, в которой указывается код станции отправления и код станции прибытия (параметры from, to) в запросе.
        required: false
        schema:
          type: string
      - name: show_systems
        in: query
        description: Система кодирования, коды которой следует добавить к описанию станций в результатах поиска (элемент codes, вложенный в элементы from и to).
        required: false
        schema:
          type: string
      - name: offset
        in: query
        description: Смещение относительно первого результата поиска.
        required: false
        schema:
          type: number
      - name: limit
        in: query
        description: Максимальное количество результатов поиска в ответе. Значение по умолчанию — 100.
        required: false
        schema:
          type: number
      - name: add_days_mask
        in: query
        description: Признак, который указывает, что для каждой нитки в ответе следует вернуть календарь хождения — элемент schedule, вложенный в элемент segments.
        required: false
        schema:
          type: boolean
      - name: result_timezone
        in: query
        description: Часовой пояс, для которого следует указывать даты и времена в ответе.
        required: false
        schema:
          type: string
      - name: transfers
        in: query
        description: Признак, разрешающий добавить к результатам поиска маршруты с пересадками.
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Routes'
  /v3.0/schedule/:
    get:
      tags:
      - getSchedule
      summary: Расписание рейсов по станции
      operationId: getSchedule
      parameters:
      - name: apikey
        in: query
        description: Ключ доступа к API.
        required: true
        schema:
          type: string
      - name: station
        in: query
        description: Код станции. Должен быть указан в системе кодирования.
        required: true
        schema:
          type: string
      - name: lang
        in: query
        description: Язык возвращаемой информации, в формате <код языка>_<код страны>.
        required: false
        schema:
          type: string
      - name: format
        in: query
        description: Формат ответа. Поддерживаемые значения json (по умолчанию) и xml.
        required: false
        schema:
          type: string
          enum:
            - xml
            - json
          default: json
      - name: date
        in: query
        description: Дата, на которую необходимо получить список рейсов.
        required: false
        schema:
          type: string
      - name: transport_types
        in: query
        description: Тип транспортного средства.
        required: false
        schema:
          type: string
      - name: direction
        in: query
        description: Код направления, по которому необходимо получить список рейсов электричек по станции.
        required: false
        schema:
          type: string
      - name: event
        in: query
        description: Событие, для которого нужно отфильтровать нитки в расписании.
        required: false
        schema:
          type: string
          enum:
            - arrival
            - departure
      - name: system
        in: query
        description: Система кодирования, в которой указывается код станции (параметр station) в запросе.
        required: false
        schema:
          type: string
      - name: show_systems
        in: query
        description: Система кодирования, в которой необходимо получить коды станций (в элементе ответа codes, вложенном в элемент station).
        required: false
        schema:
          type: string
      - name: result_timezone
        in: query
        description: Часовой пояс, для которого следует указывать даты и времена в ответе.
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleStationRoutes'
  /v3.0/thread/:
    get:
      tags:
      - getThreads
      summary: Список станций следования
      operationId: getThreads
      parameters:
      - name: apikey
        in: query
        description: Ключ доступа к API.
        required: true
        schema:
          type: string
      - name: uid
        in: query
        description: Идентификатор нитки в Яндекс Расписаниях.
        required: true
        schema:
          type: string
      - name: from
        in: query
        description: Код станции отправления. Должен быть указан в системе кодирования.
        required: false
        schema:
          type: string
      - name: to
        in: query
        description: Код станции прибытия. Должен быть указан в системе кодирования.
        required: false
        schema:
          type: string
      - name: format
        in: query
        description: Формат ответа. Поддерживаемые значения json (по умолчанию) и xml.
        required: false
        schema:
          type: string
          enum:
            - xml
            - json
          default: json
      - name: lang
        in: query
        description: Язык возвращаемой информации, в формате <код языка>_<код страны>.
        required: false
        schema:
          type: string
      - name: date
        in: query
        description: Дата, на которую необходимо получить список станций следования.
        required: false
        schema:
          type: string
      - name: show_systems
        in: query
        description: Cистема кодирования, в которой необходимо получить коды станций (в элементе ответа codes, вложенном в элемент station).
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleThread'

  /v3.0/nearest_stations/:
    get:
      tags:
      - getNearestStations
      summary: Список ближайших станций
      operationId: getNearestStations
      parameters:
      - name: apikey
        in: query
        description: Ключ доступа к API.
        required: true
        schema:
          type: string
      - name: lat
        in: query
        description: Широта согласно WGS84.
        required: true
        schema:
          type: number
      - name: lng
        in: query
        description: Долгота согласно WGS84.
        required: true
        schema:
          type: number
      - name: distance
        in: query
        description: Радиус, в котором следует искать станции, в километрах.
        required: true
        schema:
          type: integer
      - name: format
        in: query
        description: Формат ответа. Поддерживаемые значения json (по умолчанию) и xml.
        required: false
        schema:
          type: string
      - name: lang
        in: query
        description: Язык возвращаемой информации, в формате <код языка>_<код страны>.
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stations'
  /v3.0/nearest_settlement/:
    get:
      tags:
      - getNearestSettlement
      summary: Ближайший город
      operationId: getNearestSettlement
      parameters:
      - name: apikey
        in: query
        description: Ключ доступа к API.
        required: true
        schema:
          type: string
      - name: lat
        in: query
        description: Широта согласно WGS84.
        required: true
        schema:
          type: number
      - name: lng
        in: query
        description: Долгота согласно WGS84.
        required: true
        schema:
          type: number
      - name: distance
        in: query
        description: Радиус, в котором следует искать ближайший город, в километрах.
        required: false
        schema:
          type: integer
      - name: format
        in: query
        description: Формат ответа. Поддерживаемые значения json (по умолчанию) и xml.
        required: false
        schema:
          type: string
          enum:
            - xml
            - json
          default: json
      - name: lang
        in: query
        description: Язык возвращаемой информации, в формате <код языка>_<код страны>.
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Settlement'
  /v3.0/carrier/:
    get:
      tags:
      - getCarrier
      summary: Информация о перевозчике
      operationId: getCarrier
      parameters:
      - name: apikey
        in: query
        description: Ключ доступа к API.
        required: true
        schema:
          type: string
      - name: code
        in: query
        description: Код перевозчика.
        required: true
        schema:
          type: string
      - name: system
        in: query
        description: Система кодирования, в которой указывается код перевозчика (параметр code) в запросе.
        required: false
        schema:
          type: string
      - name: lang
        in: query
        description: Язык возвращаемой информации, в формате <код языка>_<код страны>.
        required: false
        schema:
          type: string
      - name: format
        in: query
        description: Формат ответа. Поддерживаемые значения json (по умолчанию) и xml.
        required: false
        schema:
          type: string
          enum:
            - xml
            - json
          default: json
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Carriers'
  /v3.0/stations_list/:
    get:
      tags:
      - getStationsList
      summary: Список всех доступных станций
      operationId: getStationsList
      parameters:
      - name: apikey
        in: query
        description: Ключ доступа к API.
        required: true
        schema:
          type: string
      - name: lang
        in: query
        description: Язык возвращаемой информации, в формате <код языка>_<код страны>.
        required: false
        schema:
          type: string
      - name: format
        in: query
        description: Формат ответа. Поддерживаемые значения json (по умолчанию) и xml.
        required: false
        schema:
          type: string
          enum:
            - xml
            - json
          default: json
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StationsList'
            text/html:
              schema: {}
  /v3.0/copyright/:
    get:
      tags:
      - copyright
      summary: Копирайт Яндекс Расписаний
      operationId: getCopyright
      parameters:
      - name: apikey
        in: query
        description: Ключ доступа к API.
        required: true
        schema:
          type: string
      - name: format
        in: query
        description: Формат ответа. Поддерживаемые значения json (по умолчанию) и xml.
        required: false
        schema:
          type: string
          enum:
            - xml
            - json
          default: json
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Copyright'
components:
  schemas:
    Stations:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        stations:
          type: array
          items:
            $ref: '#/components/schemas/Station'
    Pagination:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
    Station:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        short_title:
          type: string
        popular_title:
          type: string
        code:
          type: string
        lat:
          type: number
        lng:
          type: number
        station_type:
          type: string
        station_type_name:
          type: string
        transport_type:
          type: string
        distance:
          type: number
        majority:
          type: integer
        type_choices:
          $ref: '#/components/schemas/Schedule'
    Schedule:
      type: object
      properties:
        desktop_url:
          type: string
        touch_url:
          type: string
    StationsList:
        type: object
        properties:
          countries:
            type: array
            items:
                $ref: '#/components/schemas/Country'
    Country:
        type: object
        properties:
          title:
            type: string
          codes:
            $ref: '#/components/schemas/StationCode'
          regions:
            type: array
            items:
                $ref: '#/components/schemas/Region'
    Region:
        type: object
        properties:
          title:
            type: string
          codes:
            $ref: '#/components/schemas/StationCode'
          setlements:
            type: array
            items:
                $ref: '#/components/schemas/SingleSettlement'
    SingleSettlement:
        type: object
        properties:
          title:
            type: string
          codes:
            type: string
          stations:
            type: array
            items:
                $ref: '#/components/schemas/DetailedStation'
    DetailedStation:
        type: object
        properties:
          title:
            type: string
          codes:
            type: array
            items:
              $ref: '#/components/schemas/StationCode'
          direction:
            type: string
          longitude:
            type: number
          latitude:
            type: number
          transport_type:
            type: string
            enum:
                - plane
                - train
                - suburban
                - bus
                - water
                - helicopter
          station_type:
            type: string
            enum:
                - station
                - stop
                - platform
                - checkpoint
                - post
                - crossing
                - overtaking_point
                - train_station
                - airport
                - bus_station
                - bus_stop
                - unknown
                - port
                - port_point
                - wharf
                - river_port
                - marine_station
    StationCode:
        type: object
        properties:
          esr_code:
            type: string
          yandex_code:
            type: string
    Carriers:
        type: object
        properties:
          carriers:
            type: array
            items:
              $ref: '#/components/schemas/Carrier'
          carrier:
              $ref: '#/components/schemas/Carrier'
    Settlement:
        type: object
        properties:
          distance:
            type: number
          code:
            type: string
          title:
            type: string
          popular_title:
            type: string
          short_title:
            type: string
          lat:
            type: number
          lng:
            type: number
          type:
            type: string
    SingleThread:
        type: object
        properties:
          except_days:
            type: string
          arrival_date:
            type: string
          from:
            type: string
          uid:
            type: string
          title:
            type: string
          interval:
            $ref: '#/components/schemas/SingleInterval'
          departure_date:
            type: string
          start_time:
            type: string
          number:
            type: string
          short_title:
            type: string
          days:
            type: string
          to:
            type: string
          carrier:
            $ref: '#/components/schemas/Carrier'
          transport_type:
            type: string
          stops:
            type: array
            items:
              $ref: '#/components/schemas/Stop'
          vehicle:
            type: string
          start_date:
            type: string
          transport_subtype:
            $ref: '#/components/schemas/TransportSubtype'
          express_type:
            type: string
    Stop:
        type: object
        properties:
          arrival:
            type: string
          departure:
            type: string
          duration:
            type: number
          stop_time:
            type: number
          station:
            $ref: '#/components/schemas/Station'
          terminal:
            type: string
          platform:
            type: string
    SingleInterval:
        type: object
        properties:
          density:
            type: string
          end_time:
            type: string
          begin_time:
            type: number
    SingleStationRoutes:
        type: object
        properties:
          date:
              type: string
              format: date
              example: "2017-01-01"
          pagination:
            $ref: '#/components/schemas/Pagination'
          station:
             $ref: '#/components/schemas/Station'
          schedule:
             type: array
             items:
               $ref: '#/components/schemas/ScheduleItem'
          interval_schedule:
             type: array
             items:
               $ref: '#/components/schemas/IntervalScheduleItem'
          schedule_direction:
             $ref: '#/components/schemas/Direction'
          directions:
             type: array
             items:
               $ref: '#/components/schemas/Direction'
    ScheduleItem:
       type: object
       properties:
         except_days:
           type: string
         arrival:
           type: string
           format: date-time
         thread:
           $ref: '#/components/schemas/Thread'
         is_fuzzy:
           type: boolean
         days:
           type: string
         stops:
           type: string
         departure:
           type: string
           format: date-time
         terminal:
           type: string
         platform:
           type: string
    IntervalScheduleItem:
       type: object
       properties:
         except_days:
           type: string
         thread:
           $ref: '#/components/schemas/Thread'
         is_fuzzy:
           type: boolean
         days:
           type: string
         stops:
           type: string
         terminal:
           type: string
         platform:
           type: string
    Direction:
       type: object
       properties:
         code:
           type: string
         title:
           type: string
    Routes:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        interval_segments:
          type: array
          items:
            $ref: '#/components/schemas/IntervalSegment'
        segments:
          type: array
          items:
            $ref: '#/components/schemas/Segment'
        search:
          $ref: '#/components/schemas/Search'
    Search:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
    IntervalSegment:
      type: object
      properties:
        from:
          $ref: '#/components/schemas/Station'
        thread:
          $ref: '#/components/schemas/Thread'
        departure_platform:
          type: string
        stops:
          type: string
        departure_terminal:
          type: string
        to:
          $ref: '#/components/schemas/Station'
        has_transfers:
          type: boolean
        tickets_info:
          $ref: '#/components/schemas/TicketsInfo'
        duration:
          type: integer
        arrival_terminal:
          type: string
        start_date:
          type: string
        arrival_platform:
          type: string
    Segment:
      allOf:
        - $ref: '#/components/schemas/IntervalSegment'
        - type: object
          properties:
            arrival:
              type: string
            departure:
              type: string
    Thread:
      type: object
      properties:
        uid:
          type: string
        title:
          type: string
        interval:
          $ref: '#/components/schemas/Interval'
        number:
          type: string
        short_title:
          type: string
        thread_method_link:
          type: string
        carrier:
          $ref: '#/components/schemas/Carrier'
        transport_type:
          type: string
        vehicle:
          type: string
        transport_subtype:
          $ref: '#/components/schemas/TransportSubtype'
        express_type:
          type: string
    Interval:
      type: object
      properties:
        density:
          type: string
        end_time:
          type: string
        begin_time:
          type: string
    Carrier:
      type: object
      properties:
        code:
          type: integer
        contacts:
          type: string
        url:
          type: string
        logo_svg:
          type: string
        title:
          type: string
        phone:
          type: string
        codes:
          $ref: '#/components/schemas/CarrierCodes'
        address:
          type: string
        logo:
          type: string
        email:
          type: string
    CarrierCodes:
      type: object
      properties:
        icao:
          type: string
        sirena:
          type: string
        iata:
          type: string
    TransportSubtype:
      type: object
      properties:
        color:
          type: string
        code:
          type: string
        title:
          type: string
    TicketsInfo:
      type: object
      properties:
        et_marker:
          type: boolean
        places:
          type: array
          items:
            $ref: '#/components/schemas/Place'
    Place:
      type: object
      properties:
        currency:
          type: string
        price:
          $ref: '#/components/schemas/Price'
        name:
          type: string
    Price:
      type: object
      properties:
        cents:
          type: string
    Copyright:
      type: object
      properties:
        copyright:
          type: object
          properties:
            logo_vm:
              type: string
            url:
              type: string
            logo_vd:
              type: string
            logo_hy:
              type: string
            logo_hd:
              type: string
            logo_vy:
              type: string
            logo_hm:
              type: string
            text:
              type: string
